$header-background-color: #FF6900;
$footer-background-color: #1A1A1A;
$color-discount: #FF0000;
$color-button-sustainability: #008000;
$font-size-brand-and-price: 12px;
$font-size-description: 16px;


.display-flex{
    display: flex;
}

.color-red{
    color: red;
}

.background-red {
    background-color: red;
    order: -1;
}

.background-green {
    background-color: green;
}